.banner {
    padding: 0;
    width: auto;
    height: 47vw;
    color: #fff;
    position: relative;
}

.banner__content {
    padding: 0 3vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 2vw;
}

.banner__title {
    font-size: 4vw;
    font-weight: 800;
    max-width: 70rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,.25);
}

.banner__overview {
    margin: 1vw 0;
    max-width: 40vw;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.banner__overview--expanded {
    max-width: 50vw;
}

.banner__moreInfo {
    font-size: 1.5vw;
    margin-left: 1vw;
    cursor: pointer;
    transition: all 0.2s;
}

.banner__moreInfo:hover {
    transform: scale(1.2);
}

.banner__buttons {
    margin: 1vw 0;
    display: flex;
}

.banner__button--icon {
    margin-right: .8vw;
    font-size: 1vw;
}

.banner__button--more .banner__button--icon {
    font-size: 1.5vw;
}

.banner__button {
    background-color: rgba(100, 100, 100, 0.5);
    color: inherit;
    font-weight: 500;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    padding: .8vw 2vw;
    min-width: 3vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 0.1s;
    cursor: pointer;
}

.banner__button--play {
    color: #333;
    background-color: #fff;
}

.banner__button span {
    margin-top: -.4vw;
    font-size: 1.5vw;
}

.banner__button--play:hover {
    background-color: rgb(225, 225, 225);
}

.banner__button--more:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.banner__button:first-of-type {
    margin-right: 1vw;
}

.banner__gradient {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}

@media (max-width: 775px) {
    .banner__overview {
        font-size: 1.2rem;
    }

    .banner__content {
        height: 75%;
    }

    .banner__overview--expanded {
        max-width: 75vw;
    }

    .banner__gradient {
        height: 8rem;
    }
}

@media (max-width: 500px) {
    .banner__overview {
        display: none;
    }

    .banner__content {
        padding-bottom: 2vw;
    }

    .banner__title {
        font-size: 6vw;
    }

    .banner__button {
        padding: 1.2vw 2.5vw;

    }

    .banner__button span {
        font-size: 2.5vw;
    }
    
    .banner__button--icon {
        font-size: 2vw;
    }

    .banner__button--more .banner__button--icon {
        font-size: 3vw;
    }

    .banner__gradient {
        height: 7rem;
    }
}