.banner {
    padding: 0;
    width: auto;
    height: 100vh;
    color: #fff;
    position: relative;
}

.banner__content {
    padding: 0 6rem;
    height: 70vh;
    /* min-height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.banner__title {
    font-size: 6rem;
    font-weight: 800;
    max-width: 70rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,.25);
}

.banner__overview {
    margin: 1rem 0;
    max-width: 60rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.banner__buttons {
    margin: 1rem 0;
    display: flex;
}

button i {
    margin-right: 1.5rem;
    font-size: 2rem;
}

button:last-child i{
    font-size: 2.5rem;
}

.banner__button {
    background-color: rgba(100, 100, 100, 0.5);
    color: inherit;
    font-weight: 500;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    padding: 1.5rem 3rem;
    min-width: 10rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: all 0.1s;
}

.banner__button--play {
    color: #333;
    background-color: #fff;
}

.banner__button span {
    margin-top: -5px;
}

.banner__button--play:hover {
    background-color: rgb(225, 225, 225);
}

.banner__button--more:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.banner__button:first-of-type {
    margin-right: 1.5rem;
}

.banner__gradient {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}