.nav {
    width: 100%;
    height: 6.8rem;
    position: fixed;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.801), rgba(22, 22, 22, 0.493), transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 1.4rem;
}

.nav__list {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav__list--right {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav__item {
    margin-right: 2rem;
}

.nav--right .nav__item {
    margin-right: 2vw;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.35rem;
    padding: 3px 6px;
    transition: all 0.3s ease;
}

.nav__link:hover {
    color: #ddd;
}

.nav__link--selected {
    font-weight: bolder;
    cursor: inherit;
}

.nav__link--selected:hover {
    color: inherit;
}

@keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.nav--scrolled {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 10%, rgb(8, 8, 8) 50%, rgb(17, 17, 17) 100%);
    /* animation: appear 0.5s; */
}


.nav--left, .nav--right {
    display: flex;
    align-items: center;
}

.nav--left {
    margin-left: 3vw;
    height: 100%;
}

.nav--right {
    margin-right: 3vw;
    height: 100%;
}

.logo {
    height: 2.6rem;
    cursor: pointer;
    margin-right: 3vw;
}

.nav--right i {
    font-size: 2rem;
    cursor: pointer;
}

.nav--right span {
    margin-top: -3px;
    font-weight: 500;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user i {
    margin-top: -5px;
}

.user__profile {
    height: 3.2rem;
    border-radius: 3px;
    margin-right: 1rem;
}

.nav__browse {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    display: none;
}

.nav__browse:hover .nav__list--hamburger {
    display: flex;
}

.icon--down {
    margin-left: 1rem;
    font-size: 1.8rem;
    margin-top: -6px;
}

.nav__list--hamburger {
    position: absolute;
    top: 6.5rem;
    left: -8.8rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 30rem;
    height: 30rem;
    border: 1px solid rgba(80, 80, 80, 0.2);
    border-top: 2px solid #fff;
    background-color: rgba(10, 10, 10, 0.9);
    transition: all 0.2s ease;
}

.icon--up {
    position: absolute;
    top: -.9rem;
    font-size: 2rem;
}

.nav__item--hamburger {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.nav__link--browse {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    height: 100%;
    font-family: inherit;
}

.nav__item--hamburger:hover {
    background-color: rgba(53, 53, 53, 0.8);
}

.nav__link--hamburger {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.35rem;
    transition: all 0.3s ease;
}

/****************** MEDIA QUERIES ****************/

@media (max-width: 900px) {
    .nav__list {
        display: none;
    }
    .nav__browse {
        display: flex;
    }
}

@media (max-width: 600px) {
    .nav__list--hamburger {
        left: -7.7rem;
    }

    .nav__link--hamburger {
        font-size: 1.6rem;
    }
}